# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
/bin/
/out/
node_modules/
dist/
*.tsbuildinfo

# Go
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env

# local secrets overlay
config.local.yaml
